body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
}

h1 {
  text-align: center;
  font-size: xx-large;
  margin: 1rem;
}

section.buttons {
  display: flex;
  gap: 0.5rem;
}

section.lap-section {
  text-align: center;
}
